{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Registration</title>
  <link rel="stylesheet" href="{% static 'purple.css' %}">
</head>
<body>
  <div class="form-container">
        {% if error %}
       <div class="error-box">
        {{ error }}
        </div>
        {% endif %}

        {% if success %}
        <p style="color: white;">✔️ Form submitted successfully!</p>
        {% endif %}

    <h2>Enter your details</h2>
      <form class="anime-form" method="POST">
        {% csrf_token %}

        <input type="text" name="name" value="{{user.username}}" readonly/>
        <input type="email" name="email"value="{{user.email}}" readonly />
        <input type="text" name="admission_number" placeholder="Admission Number" required />
        <input type="text" name="branch" placeholder="Branch" required />
        <input type="number" name="year" placeholder="Year" required />
        <input type="text" name="contact_number" placeholder="Contact Number" required />
        <input type="text" name="component_name" placeholder="Component Name" required />
        <input type="text" name="componentissue_date" placeholder="Component Issue Date" required />
        <input type="text" name="componentdue_date" placeholder="Component Due Date" required />
        <input type="text" name="faculty_referred" placeholder="Faculty Referred" required />

        <button type="submit">Submit</button>
      </form>
        

      {% if success %}
        <p style="color: white;">✔️ Form submitted successfully!</p>
      {% endif %}
  </div>

</body>
</html>