{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css'%}">
</head>
<body>

<div class="form-container">

    <h2>Login</h2>

    <form class="anime-form" method="POST">
        {% csrf_token %}

        <input type="email" name="email" placeholder="Enter Email" required>

        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>

        {% if error %}
       <div class="error-box">
        {{ error }}
        </div>
        {% endif %}

    </form>

</div>

</body>
</html>